<div class="container">
        <div class="row">
            
            <!-- Left side user section -->
            {{> side-col }}

            <div class="col-12 col-md-8 col-lg-8 vh-75 custom-block border border-0 rounded">
                <!-- Post preview-->
                {{#each posts as |post|}}
                <div class="post-preview">
                    <a href="post/{{post.id}}">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.content}}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by <a href="#!">{{post.user/username}}</a> on {{format_date post.date_created}} @ {{format_time post.date_created}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                {{/each}}
            </div>
        </div>
    </div>