<div class="container">
    <div class="row">
        <!-- Left side user section -->
        {{> side-col }}

        <div class="col-12 col-md-8 col-lg-8">
            <div class="explore-title">
                <h2 class="explore-heading"> Explore</h2>
            </div>
            <!-- Post previews -->
            <div class="post-previews">
                {{#each posts as |post|}}
                <div class="post-preview card mb-2">
                    <div class="card-body">
                        <div class="user-info">
                            {{#if post.user/profile_picture}}
                            <img src="/img/profile/{{post.user/id}}.png" alt="User Avatar" class="profile-picture">
                            {{else}}
                            <img src="/img/default_avatar.png" alt="User Avatar" class="profile-picture">
                            {{/if}}
                            <div class="user-details">
                                <a href="/user/{{post.user/id}}" class="user-name">{{post.user/username}}</a>
                                <span class="post-time">{{format_date post.date_created}} @ {{format_time post.date_created}}</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <a href="post/{{post.id}}">
                                <h2 class="post-title">{{post.title}}</h2>
                                <h3 class="post-subtitle">{{post.content}}</h3>
                            </a>
                        </div>
                        <!-- Post actions -->
                          <div class="post-actions">
              {{#if logged_in}}
                <button class="btn btn-primary like-btn"><i class="fa-solid fa-heart"></i> Like</button>
                <button class="btn btn-secondary comment-btn"><i class="fa-solid fa-comment"></i> <a href="post/{{post.id}}" class="btn-link">Comment</a></button>
                <button class="btn btn-primary follow-btn"><i class="fa-solid fa-star"></i> Follow</button>
              {{else}}
                <button class="btn btn-primary like-btn"><i class="fa-solid fa-heart"></i> Like</button>
                <button class="btn btn-secondary comment-btn"><i class="fa-solid fa-comment"></i> <a href="post/{{post.id}}" class="btn-link">Comment</a></button>
                <button class="btn btn-primary follow-btn"><i class="fa-solid fa-star"></i> Follow</button>
              {{/if}}
            </div>
                        </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
