<div class="container">
    <div class="row">
        {{> side-col}}
        {{!-- <div class="col-12 col-md-4 col-lg-3 mb-3">
            <div class="container custom-block border border-0 rounded">
                <div class="row p-3">
                    <div class="col-3 mb-2">
                        <img src="/img/profile/default_avatar.png" class="profile-picture">
                    </div>
                    <div class="col-12 col-lg-9">
                        <ul class="profile-list">
                            <li><i class="fa-solid fa-user"></i> {{user.username}}</li>
                            <li><i class="fa-sharp fa-solid fa-plus"></i> Add post</li>
                            <li><i class="fa-solid fa-star"></i> Followers</li>
                            <li onclick=logout()><i class="fa-solid fa-door-open"></i> Logout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> --}}
        
        <div class="col-12 col-md-8 col-lg-8 vh-75 custom-block border border-0 rounded profile-container">
            <div class="nav flex-column">
                <ul class="nav justify-content-center">
                  <li>
                    <a class="nav-link" href="/"><i class="fa-solid fa-arrow-left"></i></a>
                  </li>
      
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="/api/msg/{{user_id}}">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#edit-user-details">Edit details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#upload-picture">Update profile picture</a>
                    </li>
          </ul>
    </div>

     <div class="d-flex align-items-center mb-3">
            {{#if profile_picture}}
            <a href="/profile">
            <img src="/img/profile/{{user_id}}.png" class="profile-picture me-2">
            </a>
            {{else}}
            <a href="/profile">
            <img src="/img/default_avatar.png" class="profile-picture me-2">
            </a>
            {{/if}}
            <h5 class="mb-0">{{username}}</h5>
        </div>
            {{!-- <h2> {{user.username}}</h2>
            <div class="profile-info">
                <img src="/img/profile/default_avatar.png" alt="Profile Picture" class="profile-picture">
                <h4> {{user.first_name}} {{user.last_name}}</h4>
                <h4> {{user.email}}</h4>
                <h4> {{user.gender}}</h4>
            </div> --}}
            {{!-- <hr class="my-4"> --}}
            <h2 class="pt-2 what-is-happening" align="center">What's happening, {{username}}?</h2>
            <div class=" new-post">
            <a href="/profile/new"><i class="bi bi-person me-2 fa-sharp fa-solid fa-plus"></i>New Post</a>
             </div>
            <hr class="my-4">
            {{#if user.posts}}
                {{#each user.posts as |post|}}
                    <div class="post-preview">
                          <p class="post-meta">
            <span class="post-time">{{format_date post.created_at}} @ {{format_time post.created_at}}</span>
          </p>
                          
                        <a href="profile/edit/{{post.id}}">
                            <h2 class="post-title">{{post/title}}</h2>
                            <h3 class="post-subtitle">{{post.content}}</h3>
                        </a>
                        {{!-- <p class="post-meta">
                            Posted by <a href="#!">Carmela</a> on {{format_date post.date}}
                        </p> --}}
                        <!-- Add comments functionality here -->
                    </div>
                    <hr class="my-4">
                {{/each}}
            {{else}}
                <p>No posts found.</p>
            {{/if}}
        </div>
    </div>
</div>

{{!-- UPLOAD PICTURE MODAL --}}
<div class="modal fade" id="upload-picture" tabindex="-1" role="dialog" aria-labelledby="upload-profile-picture" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload profile picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/users/upload" method="POST" enctype="multipart/form-data">
            <input type="file" accept="image/png, image/jpeg" name="file">
            <button class="btn btn-primary" type="submit" value="Upload">Upload</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- EDIT USER DETAILS MODAL --}}
<div class="modal fade" id="edit-user-details" tabindex="-1" role="dialog" aria-labelledby="editProfile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center edit-form">
            <div class="mb-3 d-none">
                <input class="form-control" type="user_id" id="user_id" name="user_id" placeholder="User ID" value="{{user.id}}">
            </div>
            <div class="mb-3">
              <p>Username</p>
                <input class="form-control" type="username" id="username" name="username" placeholder="Username" value="{{user.username}}">
            </div>
            <div class="mb-3">
              <p>First Name</p>
                <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First name" value="{{user.first_name}}">
            </div>
            <div class="mb-3">
              <p>Last Name</p>
                <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last name" value="{{user.last_name}}">
            </div>
            <div class="pt-3 mb-3">
                <button class="btn button_slide slide_right" type="submit">Update</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- script --}}
<script src="/js/edit-profile.js"></script>
